<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1><a href="{{ site.url }}">{{ site.title }}</a></h1>
      <p class="lead">{{ site.description }}</p>
    </div>
    <ul class="sidebar-nav">
      <li class="sidebar-nav-item"><a href="http://nickelcityruby.com">10/3 &amp; 10/4: NickelCityRuby in Buffalo, NY. Music, robots, programming, and more! &#8623;</a></li>
    </ul>
    <p>&#8620; <a href="https://twitter.com/qrush">@qrush</a></p>
  </div>
</div>
