<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body class="theme-base-0e layout-reverse">

    <center>
      {% include sidebar.html %}

      <div class="content container">
        {{ content }}
      </div>

      <p></p><hr width="60%"><p>

        <!-- Begin Tilde.Club Ring Fragment-->
        <font size="2">
          </font></p><center><font size="2">
          <center>
            <br><img src="http://tilde.club/~harper/webring.png"  border="0" usemap="#notepad.map"><br>
          </center>
          <br>
          Click for the [
          <a href="http://tilde.club/~harper/link.html?action=random" target="_top">Random page</a> ]
          <br>
          Want to join the ring? Click here for
          <a href="http://tilde.club/~harper/link.html?action=info" target="_top">info</a>.
          <br></font></center>
      <map name="notepad.map">
        <area shape="rect" coords="0, 0, 60, 70" target="_top" href="http://tilde.club/~harper/link.html?action=join">
        <area shape="rect" coords="130, 0, 417, 75" target="_top" href="http://tilde.club/~harper/link.html?action=random">
        <area shape="rect" coords="465, 0, 549, 75" target="_top" href="http://tilde.club/~harper/link.html?action=join">
      </map>
      <!-- End Webring Fragment-->

    </center>

    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '54094a398bfdf745c400041b');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
  </body>
</html>
